/* *{
    margin: 0;
    padding: 0;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#map-container {
    position: relative;
    /* max-width: 800px; */
    width: 100%;
}

/* #map {
    width: 100%;
    height: auto;
} */

/* .country {
    fill: #4CAF50;
    stroke: #ffffff;
    stroke-width: 1px;
    transition: fill 0.3s ease;
} */

.region:hover {
    fill: #45a049;
    cursor: pointer;
}

/* #country-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none;
} */

#Forgotten-Crossroads{
    transform: translate(70px, 5px) scale(0.2);

}

#Fungal-Wastes{
    transform: translate(59.5px, 26.8px) scale(0.2); 
}

#City-of-Tears{
    transform: translate(93px,24.4px) scale(0.23); 
}

#Greenpath{
    transform: translate(16.5px,-15.5px) scale(0.3); 
}

#Deepnest{
    transform: translate(19px,19px) scale(0.3); 
}

#Queen-Garden{
    transform: translate(30px,-3px) scale(0.3); 
}

#Fog-Canyon{
    transform: translate(44.5px,6.7px) scale(0.23); 
}