/* *{
    margin: 0;
    padding: 0;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-color: black;
}

#map-container {
    position: relative;
    /* max-width: 800px; */
    width: 100%;
}

/* #map {
    width: 100%;
    height: auto;
} */

/* .region {
    fill: #4CAF50;
    stroke: #ffffff;
    stroke-width: 1px;
    transition: fill 0.3s ease;
} */

.region:hover {
    fill: #45a049;
    cursor: pointer;
}

#region-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none;
}

#Forgotten-Crossroads{
    transform: translate(60px, 5px) scale(0.2);

}

#Fungal-Wastes{
    transform: translate(49.5px, 26.8px) scale(0.2); 
}

#City-of-Tears{
    transform: translate(83px,24.4px) scale(0.23); 
}

#Greenpath{
    transform: translate(6.5px,-15.5px) scale(0.3); 
}

#Deepnest{
    transform: translate(9px,19px) scale(0.3); 
}

#Queen-Garden{
    transform: translate(20px,-3px) scale(0.3); 
}

#Fog-Canyon{
    transform: translate(34.5px,6.7px) scale(0.23); 
}

#Crystal-Peak{
    transform: translate(45.5px,-4.7px) scale(0.4); 
}

#Kingdom-Edge{
    transform: translate(25.5px,-13.7px) scale(0.45);
}

#Royal-Waterways{
    transform: translate(40.5px,-15.7px) scale(0.45);
}

#Ancient-Basin{
    transform: translate(50.5px,-3.9px) scale(0.4);
}

#Resting-Grounds{
    transform: translate(50.5px,-3.9px) scale(0.38);
}

#The-Hive{
    transform: translate(75.5px, 18.9px) scale(0.3);
}

#Hollow-Knight-Map{
    background-color: black;
}